<div class="link3-title row-title" [cdkContextMenuTriggerFor]="context_menu">{{row.caption}} </div>
<div class="row-container">
    <ng-container *ngIf="row.lcolumns?.length; else new_column">
        <app-column *ngFor="let column of row?.lcolumns" [row]="row" [column]="column"></app-column>
    </ng-container>
    <ng-template #new_column>
        <button mat-button [routerLink]="'/add-column/'+row.id">Add column</button>
    </ng-template>
</div>

<ng-template #context_menu>
    <div class="links3-menu" cdkMenu>
        <button class="links3-menu-item" cdkMenuItem [routerLink]="'/add-row/'">Add</button>
        <button class="links3-menu-item" cdkMenuItem [routerLink]="'/update-row/'+row.id">Update</button>
        <button class="links3-menu-item" (click)="delete()" cdkMenuItem>Delete</button>
    </div>
</ng-template>