.row-container {
    display: flex;
    flex-direction: row;
    padding: 0rem 1rem 0rem 1rem;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1rem;
}

app-column {
    display: flex;
    flex-direction: column;
}

.row-title {
    min-height: 0.5rem;
    text-align: center;
}

.row-title:hover {
    background-color: rgb(252, 252, 252);
}


