<div class="link3-title row-title" [cdkContextMenuTriggerFor]="context_menu" [cdkMenuTriggerFor]="context_menu">
    {{row.caption}} </div>
<div class="row-container" cdkDropList cdkDropListOrientation="mixed" (cdkDropListDropped)="drop($event)">
    <ng-container *ngIf="row.lcolumns?.length; else new_column">
        @for (column of row.lcolumns; track column) {
            <app-column [row]="row" [column]="column" cdkDrag></app-column>
        }
    </ng-container>
    <ng-template #new_column>
        <a mat-button [routerLink]="'/add-column/'+row.id">Add column</a>
    </ng-template>
</div>

<ng-template #context_menu>
    <app-context-menu [title]="'Row'" [addPath]="'/add-row/'+row.pageId" [updatePath]="'/update-row/'+row.id"
        [delete]="delete.bind(this)" [disabled]="false">
    </app-context-menu>
</ng-template>