<div class="link3-title row-title" [cdkContextMenuTriggerFor]="context_menu" [cdkMenuTriggerFor]="context_menu">
    {{row.caption}} </div>
<div class="row-container">
    <ng-container *ngIf="row.lcolumns?.length; else new_column">
        <app-column *ngFor="let column of row?.lcolumns" [row]="row" [column]="column"></app-column>
    </ng-container>
    <ng-template #new_column>
        <button mat-button [routerLink]="'/add-column/'+row.id">Add column</button>
    </ng-template>
</div>

<ng-template #context_menu>
    <app-context-menu [title]="'Row'" [addPath]="'/add-row/'" [updatePath]="'/update-row/'+row.id"
        [delete]="delete.bind(this)" [disabled]="false">
    </app-context-menu>
</ng-template>