/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}

:root {
    --mat-menu-container-color: #f7f6f6; 
    --mat-menu-item-label-text-font: "Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    --mat-menu-item-label-text-size: large;
    --mat-menu-item-label-text-weight: 400;
    --mdc-text-button-label-text-size: large;
    --mdc-text-button-label-text-color: #7c7c7c;
    --mdc-text-button-label-text-font: "Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    --mdc-text-button-label-text-weight: 400;
    --mat-menu-item-label-text-color: #7c7c7c; 
    --mdc-outlined-card-container-color: #f7f6f6;
    --mdc-outlined-card-outline-width: 0;
    --mat-icon-color: #7c7c7c; 
}


.link3-title {
    font-family: var(--mdc-text-button-label-text-font);
    color: var(--mdc-text-button-label-text-color);
    font-size: var(--mdc-text-button-label-text-size);
    font-weight: var(--mdc-text-button-label-text-weight);
    padding: 0.5rem 0rem 0.5rem 1rem;
}

.error-snackbar {
    background: #f44336;
    color: white;
  }
  
  .success-snackbar {
    background: #4caf50;
    color: white;
  }