html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

:root {
    --mat-menu-container-color: #f7f6f6;
    --mat-menu-item-label-text-font: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --mat-menu-item-label-text-size: large;
    --mat-menu-item-label-text-weight: 400;
    --mdc-text-button-label-text-size: large;
    --mdc-text-button-label-text-color: #434343;
    --mdc-text-button-label-text-font: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --mdc-text-button-label-text-weight: 400;
    --mat-menu-item-label-text-color: #434343;
    --mat-icon-color: #434343;
    --mat-sys-corner-extra-large: 0.5rem;
    --mdc-dialog-subhead-size: 0.9rem;
    --mdc-dialog-supporting-text-size: 1rem;
    --mdc-elevated-card-container-color: #f7f6f6;
    --mdc-outlined-card-container-color: #f7f6f6;
    --mdc-outlined-card-outline-width: 0px;
    --mat-menu-item-icon-color: #434343;

    --mat-checkbox-label-text-size: large;
    --mat-checkbox-label-text-color: #434343;
    --mat-checkbox-label-text-font: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --mat-checkbox-label-text-weight: 400;

}

.link3-title {
    font-family: var(--mdc-text-button-label-text-font);
    color: var(--mdc-text-button-label-text-color);
    font-size: var(--mdc-text-button-label-text-size);
    font-weight: var(--mdc-text-button-label-text-weight);
    padding: 0.5rem 0rem 0.5rem 1rem;
    cursor: pointer;
}

.error-snackbar {
    --mat-sys-inverse-on-surface: white;
    --mat-sys-inverse-surface: #f44336;
    --mat-sys-inverse-primary: white
}

.success-snackbar {
    --mat-sys-inverse-on-surface: white;
    --mat-sys-inverse-surface: #4caf50;
    --mat-sys-inverse-primary: white
}

.warning-snackbar {
    --mat-sys-inverse-on-surface: white;
    --mat-sys-inverse-surface: blue;
    --mat-sys-inverse-primary: white;
}

.form-row {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
mat-card-title {
    color: var(--mdc-text-button-label-text-color);    
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.form-container mat-card {
    max-width: 400px;
    width: 90%;
    padding: 20px;
    border: 1px solid rgb(188, 188, 188);
  }
  
.form-container .full-width {
    width: 100%;
    margin-bottom: 15px;
  }
  
.form-container mat-card-header {
    margin-bottom: 20px;
  }

.form-container button mat-spinner {
    display: inline-block;
    margin-right: 8px;
}

.form-container button[type="submit"] {
    width: 150px;
}

.mat-mdc-form-field-infix {
    width: unset !important;
}

#searchField mat-form-field .mat-mdc-form-field-subscript-wrapper {
    height: 0px;
}

#pagePathForm mat-form-field .mat-mdc-form-field-subscript-wrapper {
    height: 0px;
}

.ag-header-cell-text { 
    font-family: var(--mdc-text-button-label-text-font);
    color: var(--mdc-text-button-label-text-color);
    font-size: var(--mdc-text-button-label-text-size);
    font-weight: var(--mdc-text-button-label-text-weight);
}

.short-text {
    color: var(--mdc-text-button-label-text-color);
}
