.menu-container {
    border:  1px solid #7c7c7c;
}

.menu {
    display: inline-flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 6px 12PX;
}

.menu-item {
    background-color: transparent;
    cursor: pointer;
    border: none;

    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;

    font-size: larger;
}

.menu-item:hover {
    background-color: rgb(208, 208, 208);
}

.menu-item:active {
    background-color: rgb(170, 170, 170);
}

.menu-title {
    background-color: #f7f6f6;
}

mat-icon {
    margin-right: 1rem;
}