<div class="menu-container">
    <div class="link3-title menu-title">{{title}}</div>
    <div class="menu" cdkMenu>
        <button class="link3-title menu-item" cdkMenuItem [routerLink]="addPath" [disabled]="addDisabled">
            <mat-icon>add_circle</mat-icon>
            Add...</button>
        <button class="link3-title menu-item" cdkMenuItem [disabled]="updateDisabled" [routerLink]="updatePath">
            <mat-icon>edit</mat-icon>
            Update...</button>
        <button class="link3-title menu-item" [disabled]="deleteDisabled" (click)="delete()" cdkMenuItem>
            <mat-icon>delete</mat-icon>
            Delete...</button>

        <div *ngIf="pageReadOnly" style="padding: 0rem 1rem 1 rem 0rem">
            <hr class="separator" />
            <mat-checkbox [checked]="page?.isReadOnly" (change)="pageReadOnly()"
                [ngStyle]="{'padding-bottom': '0.5rem', 'padding-left': '0.3rem'}">
                <div>Read Only</div>
            </mat-checkbox>
        </div>
    </div>
</div>