<div class="registration-container">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="firstName" placeholder="Enter your first name" >
                        </mat-form-field>
                        <app-validation-errors [control]="registrationForm.get('firstName')"
                            [messages]="firstNameMessages"></app-validation-errors>
                    </div>
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastName" placeholder="Enter your last name">
                        </mat-form-field>
                        <app-validation-errors [control]="registrationForm.get('lastName')"
                            [messages]="lastNameMessages"></app-validation-errors>
                    </div>
                </div>
                <div class="form-row">
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width" #id>
                            <mat-label>Username</mat-label>
                            <input matInput formControlName="userName" placeholder="Enter your username">
                        </mat-form-field>
                        <app-validation-errors [control]="registrationForm.get('userName')"
                            [messages]="userNameMessages"></app-validation-errors>
                    </div>
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="userEmail" placeholder="Enter your email" type="email">
                        </mat-form-field>
                        <app-validation-errors [control]="registrationForm.get('userEmail')"
                            [messages]="emailMessages"></app-validation-errors>
                    </div>
                </div>

                <div class="form-row">

                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <app-validation-errors [control]="registrationForm.get('password')"
                            [messages]="passwordMessages"></app-validation-errors>
                    </div>

                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput formControlName="confirmPassword"
                                [type]="hideConfirmPassword ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
                                type="button">
                                <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <app-validation-errors [control]="registrationForm.get('confirmPassword')"
                            [messages]="confirmPasswordMessages"></app-validation-errors>
                    </div>
                </div>
                <div class="form-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid">
                        <span>Register</span>
                    </button>
                </div>
               
                <div class="form-row">
                    <a mat-button [routerLink]="['/login']">Have an account? Login!</a>
                </div>
                


        </form>
        </mat-card-content>
    </mat-card>
</div>