<div class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{formTitle}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Caption</mat-label>
                    <input matInput type="text" formControlName="caption" placeholder="Enter column caption" >
                </mat-form-field>

                <div class="form-field">
                    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid"
                        class="full-width">
                        <span>Submit</span>
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>