<app-loading-spinner />
<div class="toolbar-content" cdkDropList cdkDropListOrientation="mixed" (cdkDropListDropped)="drop($event)">
   <div class="app-title">weblinks</div>

   @if (!this.loadingService.isLoading()) {
   <div *ngIf="loginService.isAuthenticated" class="links">
      <button *ngIf="!pagesService.loadingPages && (!pagesService.pages || 
            pagesService.pages.length === 0)" mat-button [routerLink]="'/add-page'">
         Add page
      </button>

      @for (page of pagesService.pages; track page) {
      <a mat-button
         [class]="isRouteName('/page') && pagesService.activePage?.pagePath === page.pagePath ? 'active-link' : ''"
         [routerLink]="['/page/'+page.pagePath]" [cdkContextMenuTriggerFor]="context_menu"
         (cdkContextMenuOpened)="onContextMenuOpened(page)" cdkDrag>{{page.caption || page.pagePath }}</a>
      }
   </div>

   <span class="spacer"></span>

   <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
   </button>
   <mat-menu #menu>
      <ng-container *ngIf="loginService.isAuthenticated">
         <a *ngIf="!isRouteName('/user-profile')" mat-menu-item [routerLink]="'/user-profile'">
            <mat-icon>person</mat-icon>
            {{profileCaption}}</a>
         <a *ngIf="!isRouteName('/contact-us')" mat-menu-item [routerLink]="'/contact-us'">
            <mat-icon>outgoing_mail</mat-icon>
            Contact Us</a>
      </ng-container>
      <a *ngIf="!isRouteName('/help')" mat-menu-item [routerLink]="'/help'">
         <mat-icon>help</mat-icon>
         Help</a>
      <a *ngIf="!isRouteName('/terms')" mat-menu-item [routerLink]="'/terms'">
         <mat-icon>article</mat-icon>
         Terms of Usage</a>
      <a *ngIf="!isRouteName('/policy')" mat-menu-item [routerLink]="'/policy'">
         <mat-icon>shield</mat-icon>
         Privacy Policy</a>
      <ng-container *ngIf="loginService.isAuthenticated">
         <button mat-menu-item (click)="logOut()">
            <mat-icon>logout</mat-icon>
            Log out</button>
      </ng-container>
      <ng-container *ngIf="!loginService.isAuthenticated">
         <a *ngIf="!isRouteName('/register')" mat-menu-item [routerLink]="'/register'">
            <mat-icon>how_to_reg</mat-icon>
            Register</a>
         <a *ngIf="!isRouteName('/login')" mat-menu-item [routerLink]="'/login'">
            <mat-icon>login</mat-icon>
            Login</a>
      </ng-container>
   </mat-menu>

   <ng-template #context_menu>
      <app-context-menu [title]="'Page'" [addPath]="'/add-page'" [updatePath]="'/update-page/'+this.popupPage?.pagePath"
         [delete]="deletePopupPage.bind(this)" [disabled]="!this.popupPage">
      </app-context-menu>
   </ng-template>

   }


</div>


<router-outlet />