  mat-card {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 1px solid rgb(188, 188, 188);
  }
  
  mat-card-header {
    margin-bottom: 20px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .validation-error {
    width: 100%;
    padding-bottom: 0.5rem;
    margin-top: -10px;
  }
  
  