<div class="page-container" *ngIf="pagesService.activePage" cdkDropList cdkDropListOrientation="mixed"
  (cdkDropListDropped)="drop($event)">
  <ng-container *ngIf="pagesService.activePage.lrows?.length; else new_row">
    @for (row of pagesService.activePage.lrows; track row) {
    <app-row [row]="row" cdkDrag></app-row>
    }
  </ng-container>
  <ng-template #new_row>
    <div class="add-row-button">
      <a mat-button [routerLink]="'/add-row/'+pagesService.activePage.id">
        <mat-icon>add_circle</mat-icon>
        Add row</a>
    </div>
  </ng-template>
</div>