.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

a {
    font-family: var(--mat-card-title-text-font, var(--mat-sys-title-large-font));
    line-height: var(--mat-card-title-text-line-height, var(--mat-sys-title-large-line-height));
    font-size: var(--mat-card-title-text-size, var(--mat-sys-title-large-size));
    letter-spacing: var(--mat-card-title-text-tracking, var(--mat-sys-title-large-tracking));
    font-weight: var(--mat-card-title-text-weight, var(--mat-sys-title-large-weight));
}