<mat-card appearance="outlined" class="a">
    <mat-card-header>
        <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="full-width">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Old password</mat-label>
                    <input matInput formControlName="oldPassword" [type]="hideOldPassword ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hideOldPassword = !hideOldPassword" type="button">
                        <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <app-validation-errors [control]="form.get('oldPassword')"
                    [messages]="oldPasswordMessages"></app-validation-errors>
            </div>
            <div class="full-width">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <app-validation-errors [control]="form.get('password')"
                    [messages]="passwordMessages"></app-validation-errors>
            </div>

            <div class="full-width">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput formControlName="confirmPassword"
                        [type]="hideConfirmPassword ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
                        type="button">
                        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <app-validation-errors [control]="form.get('confirmPassword')"
                    [messages]="confirmPasswordMessages"></app-validation-errors>
            </div>
            <div class="form-row">
                <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
                    <span>Update</span>
                </button>
            </div>            
        </form>
    </mat-card-content>
</mat-card>