.row-container {
    display: flex;
    flex-direction: row;
    padding: 0rem 1rem 0rem 1rem;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1rem;
}

app-column {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
}

/* .row-title {
    font: var(--mat-sys-title-medium);
    color: #7c7c7c;
    padding: 0.5rem 0rem 0.5rem 1rem;
} */






