<div class="container">
    <mat-card class="container">
        <h2>Let's get started</h2>
        <mat-card-content>
            <h3>
                Create a bookmark in a few simple steps
            </h3>
            @if (!loginService.isAuthenticated) {
            <p>
                Please note that in order to complete the steps in this tutorial, you need to be
                <a [routerLink]="'/register'">registered</a> and <a [routerLink]="'/login'">logged in</a>.
            </p>
            }
            <p>
                This tutorial is designed for users who have just registered and have not yet created 
                any bookmarks. The steps described here are only needed to create the first bookmark. 
                From now on, you will be able to add bookmarks in one step instead of four. 
                Please note that in addition to creating a bookmark manually, you can install the 
                <a target="_blank" href="https://chromewebstore.google.com/detail/
                weblinksclick-google-chro/ebpmjbdkfbkkmgibpmjkcjgchollbekl">Weblinks.click Google Chrome extension</a>                
                and use it to add bookmarks automatically and directly from the page you 
                want to add a bookmark to.                
            </p>

            <p>
                Bookmarks are organized using three levels of categorization: page, row, column. 
                When you create a bookmark for the first time, you need to create a page, then a row within a page, 
                then a column within a row, and finally a bookmark within a column. The terms "bookmark" and "link" 
                mean the same thing here.
            </p>

            <h4>
                Step 1. Create a page.
            </h4>
            <p>
                Once you're logged in and haven't created any bookmarks yet, you'll see an "Add Page" button on your toolbar.
            </p>
            <p style="text-align: center">
                <img class="menu-img" src="assets/first_page.png" alt="First page">
            </p>
            <p>
                Click on the "Add Page" button to open a form
            </p>
            <p style="text-align: center">
                <img class="menu-img" src="assets/add_page.png" alt="Add page">
            </p>
            <p>
                Enter "services" in the "Page Path" field and "My services" in the "Caption" field, then click 
                the "Submit" button. The "My services" page will be created and shown in the toolbar.
            </p>
            <p style="text-align: center">
                <img class="menu-img" src="assets/first_row.png" alt="First row">
            </p>
            <h4>
                Step 2. Create a row.
            </h4>
            <p>
                Click on the "Add row" button to open a form
            </p>
            <p style="text-align: center">
                <img class="menu-img" src="assets/add_row.png" alt="Add row">
            </p>
            <p>
                Enter "Online services" in the "Caption" field and then click 
                the "Submit" button. The "Online services" row will be created and shown in the 
                "My Services" page.
            </p>
            <p style="text-align: center">
                <img class="menu-img" src="assets/first_column.png" alt="First column">
            </p>
            <h4>
                Step 3. Create a column.
            </h4>
            <p>
                Click on the "Add column" button to open a form
            </p>
            <p style="text-align: center">
                <img class="menu-img" src="assets/add_column.png" alt="Add column">
            </p>
            <p>
                Enter "Google services" in the "Caption" field and then click 
                the "Submit" button. The "Google services" column will be created and shown in the 
                "Online services" row.
            </p>
            <p style="text-align: center">
                <img class="menu-img" src="assets/first_link.png" alt="First link">
            </p>
            <h4>
                Step 4. Create a bookmark.
            </h4>
            <p>
                Click on the "Add link" button to open a form
            </p>
            <p style="text-align: center">
                <img class="menu-img" src="assets/add_link.png" alt="Add link">
            </p>
            <p>
                Enter "https://www.google.com/" in the "Url" field and "Google search" 
                in the "Label" field and then click 
                the "Submit" button. The "Google search" bookmark will be created and shown in the 
                "Google services" column.
            </p>
            <p style="text-align: center">
                <img class="menu-img" src="assets/link_created.png" alt="Link created">
            </p>
            <p>
                Now click on the "Google search" link. The Google page will open in a separate tab. 
            </p>

            <p>
                Congratulations! You've just created your first bookmark!
            </p>


        </mat-card-content>
    </mat-card>
</div>