<mat-card appearance="outlined" class="column">
    <mat-card-header class="link3-title" [cdkContextMenuTriggerFor]="context_menu"
        [cdkMenuTriggerFor]="context_menu">{{column.caption}}</mat-card-header>
    
        <mat-card-content [id]="'c' + column.id" 
        [cdkDropListConnectedTo]="pagesService.columnIds"
        cdkDropList 
    [cdkDropListData]="column"
    cdkDropListOrientation="mixed" (cdkDropListDropped)="drop($event)">

        <ng-container *ngIf="column.links?.length; else new_link">
            @for (link of column.links; track link) {
            <app-link [row]="row" [column]="column" [link]="link" cdkDrag [cdkDragData]="link"></app-link>
            }
        </ng-container>
        <ng-template #new_link>
            <a mat-button [routerLink]="'/add-link/'+row.id+'/'+column.id">
                <mat-icon>add_circle</mat-icon>
                Add link</a>
        </ng-template>
    </mat-card-content>
</mat-card>

<ng-template #context_menu>
    <app-context-menu [title]="'Column'" [addPath]="'/add-column/'+row.id"
        [updatePath]="'/update-column/'+row.id+'/'+column.id" [delete]="delete.bind(this)" [disabled]="false">
    </app-context-menu>
</ng-template>