<div class="form-container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{formTitle}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Page path</mat-label>
          <input matInput type="text" formControlName="pagePath" placeholder="Enter page path">
          <mat-error *ngIf="form.get('pagePath')?.hasError('required')">
            Page path is required
          </mat-error>
          <mat-error *ngIf="form.get('pagePath')?.hasError('minlength')">
            Page path must be at least 3 characters long
          </mat-error>
          <mat-error *ngIf="form.get('pagePath')?.hasError('maxlength')">
            Page path cannot be more than 50 characters long
          </mat-error>
          <mat-error *ngIf="form.get('pagePath')?.hasError('pattern')">
            Page path can only contain letters, numbers, hyphens, and underscores
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Caption</mat-label>
          <input  matInput type="text" formControlName="caption" placeholder="Enter page caption">
        </mat-form-field>

        <div class="form-field">
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" class="full-width">
            <span>Submit</span>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>