<div class="form-container" >
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{formTitle}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="full-width" id="pagePathForm">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Page Path</mat-label>
            <input matInput type="text" formControlName="pagePath" placeholder="Enter page path, like 'services'">
          </mat-form-field>
          <app-validation-errors [control]="form.get('pagePath')" [messages]="pagePathMessages"></app-validation-errors>
        </div>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Caption</mat-label>
          <input matInput type="text" formControlName="caption" placeholder="Enter page caption, like 'My Services'">
        </mat-form-field>

        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="pageDescription"></textarea>
          </mat-form-field>
        </div>

        <div class="form-field">
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" class="full-width">
            <span>Submit</span>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>